# WiFi Configuration
WIFI_SSID=YourWiFiSSID
WIFI_PASSWORD=YourWiFiPassword

# MQTT Configuration (bemfa.com)
# Client ID is your private key from bemfa.com
MQTT_CLIENT_ID=YourMqttClientKey
# Topic for LED control
MQTT_TOPIC=light002